@model nl.boxplosive.BackOffice.Mvc.Models.Shared.ModalInfo

<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="confirmModal" aria-hidden="true" id=@Model.Id>
    <div class="modal-dialog" style="width: 400px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                <h4 class="modal-title">@Model.Title</h4>
            </div>
            <div class="modal-body" style="background-color: white; padding-top: 15px;">
                <div>Model.Description</div>
            </div>
        </div>
    </div>
</div>
