@model string

<div class="row">
    <div class="col-sm-4">
        <div class="well">
            <div class="squarethumbnail">
                <img src="@Model">
            </div>
        </div>
    </div>
</div>