@using nl.boxplosive.BackOffice.Mvc.Models.Placeholder
@model PlaceholderTextAreaModel

<p><b>@Html.DisplayFor(m => m.Placeholder.Label)</b>:<br /><span style="white-space: pre-wrap">@Html.DisplayFor(m => m.Value)</span></p>