@using nl.boxplosive.BackOffice.Mvc.Models.Placeholder
@model PlaceholderRichTextEditorModel

<p><b>@Html.DisplayFor(m => m.Placeholder.Label)</b>:<br /><span style="white-space: pre-wrap">@Html.Raw(Model.Value)</span></p>