<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true" internalLogLevel="Info" internalLogIncludeTimestamp="true">
  <variable name="logdir" value="C:\inetpub\websites\elmex\wwwdata\logs\" />
  <variable name="logname" value="backoffice" />
  <variable name="websitename" value="${logname}" />
  <variable name="fileformat" value="${longdate} | ${machinename} | ${websitename} | ${pad:padding=5:inner=${processid}} | ${pad:padding=3:inner=${threadid}} | ${pad:padding=36:inner=${event-properties:item=BoxplosiveContextGuid}} | ${pad:padding=12:inner=${event-properties:item=tenantId}} | ${pad:padding=-5:inner=${level:uppercase=true}} | ${message} | ${logger:shortName=true}${onexception:inner= | ${exception:format=toString,Data}}" />
  <extensions>
    <add assembly="nl.boxplosive.Configuration" />
    <add assembly="nl.boxplosive.Sdk" />
    <add assembly="nl.boxplosive.Data.MsSql" />
  </extensions>
  <targets>
    <target name="contextdisk" type="BoxplosiveContextWrapper">
      <target name="diskasync" xsi:type="AsyncWrapper" queueLimit="1000000" timeToSleepBetweenBatches="25" batchSize="10000" overflowAction="Discard">
        <target name="disk" xsi:type="File" fileName="${logdir}\${logname}.log" archiveFileName="${logdir}\${logname}.{#}.log" archiveDateFormat="yyyyMMddHHmm"
                archiveAboveSize="20480000" archiveEvery="Day" archiveNumbering="Date" maxArchiveFiles="50" concurrentWrites="true" openFileCacheTimeout="10"
                keepFileOpen="true" layout="${fileformat}" />
      </target>
    </target>
  </targets>
  <rules>
    <logger name="*" layout="${fileformat}" minLevel="Info" writeTo="contextdisk" />
  </rules>
</nlog>
