<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      internalLogFile="C:\inetpub\websites\elmex\wwwdata\logs\backoffice-internal.log" xdt:Transform="SetAttributes">
	<targets>
		<target name="contextdebugger" type="BoxplosiveContextWrapper" xdt:Transform="Insert">
			<target name="debugger" xsi:type="Debugger" layout="${fileformat}"/>
		</target>
		<target name="contextconsole" type="BoxplosiveContextWrapper" xdt:Transform="Insert">
			<target name="console" xsi:type="Console" layout="${fileformat}"/>
		</target>
		<target name="contextdisk" xdt:Transform="Replace" xdt:Locator="Match(name)"
			type="BoxplosiveContextWrapper">
			<target name="diskasync" xsi:type="AsyncWrapper" queueLimit="1000000" timeToSleepBetweenBatches="25" batchSize="1000">
				<target name="disk" xsi:type="File" fileName="${logdir}\${logname}.log" archiveFileName="${logdir}\${logname}.{##}.log" archiveDateFormat="yyyyMMdd"
					archiveAboveSize="20480000" concurrentWrites="true" openFileCacheTimeout="10"
					archiveOldFileOnStartup="true" maxArchiveFiles="50" archiveNumbering="DateAndSequence"
					keepFileOpen="true" layout="${fileformat}" />
			</target>
		</target>
	</targets>
	<rules>
		<logger name="*" layout="${fileformat}" minLevel="Trace" writeTo="contextdebugger" xdt:Transform="Insert"/>
		<logger name="*" layout="${fileformat}" minLevel="Trace" writeTo="contextconsole" xdt:Transform="Insert"/>
		<logger minLevel="Debug" writeTo="contextdisk" xdt:Transform="SetAttributes" xdt:Locator="Match(writeTo)"/>
	</rules>
</nlog>