<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform" xdt:Transform="Replace"
	  autoReload="true"
	  internalLogFile="C:\home\LogFiles\Boxplosive\backoffice\nlog-internal.log"
	  internalLogIncludeTimestamp="true"
	  internalLogLevel="Info">
	<extensions>
		<add assembly="Microsoft.ApplicationInsights.NLogTarget" />
		<add assembly="nl.boxplosive.Configuration" />
		<add assembly="nl.boxplosive.Sdk" />
		<add assembly="nl.boxplosive.Data.MsSql" />
	</extensions>
	<targets>
		<target name="aiTargetWrapper" type="BoxplosiveContextWrapper">
			<target name="aiTarget" type="ApplicationInsightsTarget">
				<instrumentationKey>${appsetting:APPINSIGHTS_INSTRUMENTATIONKEY}</instrumentationKey>
				<contextproperty name="ApplicationName" layout="backoffice" />
				<contextproperty name="Exception" layout="${exception:format=toString,Data}" />
				<contextproperty name="MachineName" layout="${machinename}" />
				<contextproperty name="Level" layout="${level}" />
				<contextproperty name="LongDate" layout="${longdate}" />
				<contextproperty name="ProcessId" layout="${processid}" />
				<contextproperty name="ThreadId" layout="${threadid}" />
				<contextproperty name="WebsiteHostName" layout="${environment:WEBSITE_HOSTNAME}" />
			</target>
		</target>
	</targets>
	<rules>
		<logger name="*" minlevel="${appsetting:NLOG_MINLEVEL}" writeTo="aiTargetWrapper" />
	</rules>
</nlog>