<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="BoxplosiveConnectionString" connectionString="Type System Version=SQL Server 2012;Data Source=localhost;Initial Catalog=boxplosive_platform;Integrated Security=SSPI;Application Name=BackOffice;Persist Security Info=True;Min Pool Size=50;Max Pool Size = 500;" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="CustomerConnectionString" connectionString="Type System Version=SQL Server 2012;Data Source=localhost;Initial Catalog=boxplosive_customer;Integrated Security=SSPI;Application Name=BackOffice;Persist Security Info=True;Min Pool Size=50;Max Pool Size = 500;" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <appSettings>
    <add key="API_LANGUAGE_BASEURL" value="http://localhost:7263/api"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="API_WEBHOOK_BASEURL" value="http://localhost:7252/api"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="PLATFORM_SB_CS" value="Endpoint=sb://platform-service-bus-local.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=X20LoIuSp4SP1dmPktE/HansHIOkBJ6WY+ASbMcRoHY="
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="vs:EnableBrowserLink" value="false"
         xdt:Transform="Insert" />
  </appSettings>
  <system.web>
    <httpModules>
      <add name="TelemetryCorrelationHttpModule" xdt:Transform="Remove" xdt:Locator="Match(name)" />
      <add name="ApplicationInsightsWebTracking" xdt:Transform="Remove" xdt:Locator="Match(name)" />
    </httpModules>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="TelemetryCorrelationHttpModule" xdt:Transform="Remove" xdt:Locator="Match(name)" />
      <add name="TelemetryCorrelationHttpModule" xdt:Transform="Remove" xdt:Locator="Match(name)" />
      <remove name="ApplicationInsightsWebTracking" xdt:Transform="Remove" xdt:Locator="Match(name)" />
      <add name="ApplicationInsightsWebTracking" xdt:Transform="Remove" xdt:Locator="Match(name)" />
    </modules>
  </system.webServer>
</configuration>