@model nl.boxplosive.BackOffice.Mvc.Models.Shared.Promotion.PromotionStepModel

<section class="datapanel">
    <div class="datapanel-heading">
        <h2>5. Promotion</h2>
    </div>
    <div class="datapanel-body">
        @Html.DisplayFor(m => m.ImageUrl, "Image")
    </div>
</section>