// Core variables and mixins
@import "variables";
@import "../../Content/bootstrap/mixins";
@import "mixins";

.browser {
  .result {
    height:12em;
    min-height:6em;
    max-height:30vh;
    box-shadow: $input-border 0 0 0 1px inset;
    > * {
      display:block!important;
      position:static!important;
    }
  }
  .ui-menu {
    height:12em;
    min-height:6em;
    width:100%!important;
    max-height:30vh;
    position:static;
  }
  .ui-menu-item {
    display:table;
    width:100%;
    padding:0;
    > * {
      display:table-cell;
      padding-left:$padding-base-horizontal/2;
      + small:last-child {
        text-align:right;
        padding-right:$padding-base-horizontal/2;
      }
    }
    :focus {
      outline:none;
    }
    .labeltext {
      width:100%;
    }
    small:focus {
      text-decoration:underline;
    }
    small[tabindex] {
      &:after {
        @extend %icon, :before;
        @extend .icon-forth, :before;
        font-size:0.5em;
        margin-left:0.5em;
      }
    }
  }
  .row {
    margin-bottom:15px;
  }
  @media (max-width: $screen-xs-max) {
    .form-group + .result {
      margin-top:-1em;
    }
    .result, .ui-menu {
      max-height:7vh;
    }
    .modal-body .row > * + * {
      margin-top:0.5em;
    }
  }
}