@using nl.boxplosive.BackOffice.Mvc.Models.Placeholder
@model PlaceholderModel

<div class="form-group">
    @Html.Partial("PlaceholderBase", Model)
    @Html.LabelFor(m => m.Value, Model.Placeholder.Label, new { @class = "col-sm-4 control-label" })
    <div class="col-sm-4">
        @Html.TextBoxFor(m => m.Value, true, htmlAttributes: new { @class = "form-control" })
    </div>
</div>