@{
    ViewBag.Title = @Model.PageTitle;
}

@section featured
{

}

<form class="well form">
    <div class="row" data-range>
        <div class="col-sm-9 col-md-7 form-horizontal">
            <div class="form-group">
                <label for="Analyse_From" class="col-sm-4 control-label">(Card) id</label>
                <div class="col-sm-8">
                    <input name="loyaltycardnumber"
                           class="form-control"
                           id="loyaltycardnumber"
                           aria-required="true"
                           data-rule-required="true"
                           data-msg-required="Loyaltycard number is required"
                           placeholder="Loyaltycard, EMDA or Airmiles">
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-md-offset-2 form-group">
            <button type="submit" class="btn btn-default btn-block">Select customer</button>
        </div>
    </div>
</form>
<h2>Loyaltycard number: BF214970</h2>
<div role="tabpanel">
    <ul class="row row-xs-4 row-lg-3 panel-tabs" role="tablist">
        <li class="col-xs-4">
            <a class="panel processmodule panel-default" href="#paneltabs-coupons" aria-controls="paneltabs-coupons" role="tab" data-toggle="tab">
                <div class="panel-heading">
                    <span class="icon icon-coupon-alt"></span>
                    <span class="h4 hidden-xs">Coupons</span>
                </div>
                <div class="panel-body">
                    <p>
                        <span class="count">43</span><br />
                        <span class="count-alt">1</span><span class="hidden-xs"> Reserved</span><br />
                        <span class="count-alt">40</span><span class="hidden-xs"> Claimed</span><br />
                        <span class="count-alt">2</span><span class="hidden-xs"> Cleared</span>
                    </p>
                </div>
            </a>
        </li>
        <li class="col-xs-4">
            <a class="panel processmodule panel-primary" href="#paneltabs-loyaltyprograms" aria-controls="paneltabs-loyaltyprograms" role="tab" data-toggle="tab">
                <div class="panel-heading">
                    <span class=" icon icon-loyalty-alt"></span>
                    <span class="h4 hidden-xs">Loyalty programs</span>
                </div>
                <div class="panel-body">
                    <p>
                        <span class="count">3</span><br />
                    </p>
                </div>
            </a>
        </li>
    </ul>
    <div class="tab-content">
        <form role="tabpanel"
              class="tab-pane panel panel-default"
              id="paneltabs-coupons"
              data-partial="independent"
              data-partialid="reclamation-coupons"
              data-get="ReturnHTML?file=~/Ajax-Stub/reclamation-coupons.html"
              data-post="ReturnHTML?file=~/Ajax-Stub/reclamation-coupons.html">
            <div class="panel-body">
                <h3 class="sr-only">Coupons</h3>
                <div class="row form">
                    <div class="form-group col-sm-5 col-md-4">
                        <select class="form-control" id="couponstatuses" name="couponstatuses" data-change="saveget">
                            <option selected="selected" value="0">Show all statuses</option>
                            <option value="1">Show reserved only</option>
                            <option value="2">Show claimed only</option>
                            <option value="3">Show cleared only</option>
                        </select>
                    </div>
                    <div class="col-sm-12 visible-xs-block visible-sm-block">
                        <hr />
                    </div>
                    <div class="col-sm-7 col-md-4 col-md-offset-1 form-group">
                        <label for="Analyse_From" class="sr-only">Choose promotion</label>
                        <input type="search"
                               class="form-control ui-autocomplete-input"
                               name="choosepromotion"
                               data-boxautocomplete=""
                               data-source="/BackOffice/Styleguide/ReturnJSON?file=../Ajax-Stub/stores.json"
                               data-minlength="3"
                               data-scrollsteplength="10"
                               data-idto="#promotionid"
                               autocomplete="nope"
                               placeholder="Choose promotion">
                        <button type="button" class="form-control-cancel icon-btn icon-cross"></button>
                        <input type="hidden" name="promotionid" id="promotionid">
                    </div>
                    <div class="col-sm-5 col-md-2 form-group">
                        <button type="submit" class="btn btn-default btn-block" data-action="save">Add reservation</button>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Date modified</th>
                                <th>ID</th>
                                <th>Promotion</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><time datetime="2015-07-09">9 Jul 2015</time></td>
                                <td>CPN001</td>
                                <td>Lorem ipsum</td>
                                <td>Reserved</td>
                                <td class="actions">
                                    <a href="" class="icon-btn icon-check" title="Claim"><span class="sr-only">Claim</span></a>
                                </td>
                            </tr>
                            <tr>
                                <td><time datetime="2015-07-09">9 Jul 2015</time></td>
                                <td>CPN001</td>
                                <td>Lorem ipsum</td>
                                <td>Claimed</td>
                                <td class="actions"></td>
                            </tr>
                            <tr>
                                <td><time datetime="2015-07-08">8 Jul 2015</time></td>
                                <td>CPN001</td>
                                <td>Lorem ipsum</td>
                                <td>Claimed</td>
                                <td class="actions"></td>
                            </tr>
                            <tr>
                                <td><time datetime="2015-07-08">8 Jul 2015</time></td>
                                <td>CPN001</td>
                                <td>Lorem ipsum</td>
                                <td>Claimed</td>
                                <td class="actions"></td>
                            </tr>
                            <tr>
                                <td><time datetime="2015-07-07">7 Jul 2015</time></td>
                                <td>CPN001</td>
                                <td>Lorem ipsum</td>
                                <td>Cleared</td>
                                <td class="actions"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <ul class="pagination">
                    <li>
                        <a href="#" aria-label="Previous" class="icon-btn icon-back" data-action="saveget" data-vars='[{"name":"page","value":1}]'>
                            <span class="sr-only" aria-hidden="true">Previous</span>
                        </a>
                    </li>
                    <li><a href="#" data-action="saveget" data-vars='[{"name":"page","value":1}]'>1</a></li>
                    <li class="active"><a href="#" data-action="saveget" data-vars='[{"name":"page","value":2}]'>2</a></li>
                    <li><a href="#" data-action="saveget" data-vars='[{"name":"page","value":3}]'>3</a></li>
                    <li><a href="#" data-action="saveget" data-vars='[{"name":"page","value":4}]'>4</a></li>
                    <li>...</li>
                    <li><a href="#" data-action="saveget" data-vars='[{"name":"page","value":5}]'>5</a></li>
                    <li>
                        <a href="#" aria-label="Next" class="icon-btn icon-forth" data-action="saveget" data-vars='[{"name":"page","value":3}]'>
                            <span class="sr-only" aria-hidden="true">Next</span>
                        </a>
                    </li>
                </ul>

                <a href="" class="close" data-closealltabs><span class="sr-only">Sluiten</span></a>
            </div>
        </form>
        <form role="tabpanel"
              class="tab-pane panel panel-primary"
              id="paneltabs-loyaltyprograms"
              data-partial="independent"
              data-partialid="reclamation-loyaltyprograms"
              data-get="ReturnHTML?file=~/Ajax-Stub/reclamation-loyaltyprograms.html"
              data-post="ReturnHTML?file=~/Ajax-Stub/reclamation-loyaltyprograms.html">
            <div class="panel-body">
                <h3 class="sr-only">Loyalty programs</h3>
                <div class="row form">
                    <div class="form-group col-sm-5 col-md-3">
                        <select class="form-control" id="loyaltyprograms" name="loyaltyprograms" data-change="saveget">
                            <option value="1">Lotalty program 1</option>
                            <option value="2">Lotalty program 2</option>
                            <option value="3">Lotalty program 3</option>
                        </select>
                    </div>
                    <div class="form-group col-sm-5 col-md-2">
                        <select class="form-control" id="loyaltyprogramsources" name="loyaltyprogramsources" data-change="saveget">
                            <option selected="selected" value="0">Show all sources</option>
                            <option value="1">Show points only</option>
                            <option value="2">Show rewards only</option>
                            <option value="3">Show admin mutations only</option>
                        </select>
                    </div>
                    <div class="col-sm-12 visible-xs-block visible-sm-block">
                        <hr />
                    </div>
                    <div class="col-md-2">
                        <p class="form-control-static text-right"><strong>3901</strong> points total</p>
                    </div>
                    <div class="col-sm-7 col-md-3 col-lg-2 form-group">
                        <label for="Analyse_From" class="sr-only">Choose mutation amount</label>
                        <div class="input-group" data-boxspinner>
                            <input type="number"
                                   id="mutationamount"
                                   name="mutationamount"
                                   class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-5 col-md-2 form-group">
                        <button type="submit" class="btn btn-default btn-block" data-action="save">Add mutation</button>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Date issued</th>
                                <th>Source</th>
                                <th><span class="sr-only">Transaction direction</span></th>
                                <th>Points</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><time datetime="2015-07-09">9 Jul 2015</time></td>
                                <td>Points</td>
                                <td class="text-right">
                                    <small class="icon icon-plus text-success"><span class="sr-only">+</span></small>
                                </td>
                                <td>
                                    <strong>10</strong>
                                </td>
                            </tr>
                            <tr>
                                <td><time datetime="2015-07-09">9 Jul 2015</time></td>
                                <td>Admin mutation</td>
                                <td class="text-right">
                                    <small class="icon icon-min text-danger"><span class="sr-only">-</span></small>
                                </td>
                                <td>
                                    <strong>5</strong>
                                </td>
                            </tr>
                            <tr>
                                <td><time datetime="2015-07-08">8 Jul 2015</time></td>
                                <td>Reward</td>
                                <td class="text-right">
                                    <small class="icon icon-min text-danger"><span class="sr-only">-</span></small>
                                </td>
                                <td>
                                    <strong>300</strong>
                                </td>
                            </tr>
                            <tr>
                                <td><time datetime="2015-07-06">6 Jul 2015</time></td>
                                <td>Points</td>
                                <td class="text-right">
                                    <small class="icon icon-plus text-success"><span class="sr-only">+</span></small>
                                </td>
                                <td>
                                    <strong>56</strong>
                                </td>
                            </tr>
                            <tr>
                                <td><time datetime="2015-07-03">3 Jul 2015</time></td>
                                <td>Points</td>
                                <td class="text-right">
                                    <small class="icon icon-plus text-success"><span class="sr-only">+</span></small>
                                </td>
                                <td>
                                    <strong>20</strong>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <ul class="pagination">
                    <li>
                        <a href="#" aria-label="Previous" class="icon-btn icon-back" data-action="saveget" data-vars='[{"name":"page","value":1}]'>
                            <span class="sr-only" aria-hidden="true">Previous</span>
                        </a>
                    </li>
                    <li><a href="#" data-action="saveget" data-vars='[{"name":"page","value":1}]'>1</a></li>
                    <li class="active"><a href="#" data-action="saveget" data-vars='[{"name":"page","value":2}]'>2</a></li>
                    <li><a href="#" data-action="saveget" data-vars='[{"name":"page","value":3}]'>3</a></li>
                    <li><a href="#" data-action="saveget" data-vars='[{"name":"page","value":4}]'>4</a></li>
                    <li>...</li>
                    <li><a href="#" data-action="saveget" data-vars='[{"name":"page","value":5}]'>5</a></li>
                    <li>
                        <a href="#" aria-label="Next" class="icon-btn icon-forth" data-action="saveget" data-vars='[{"name":"page","value":3}]'>
                            <span class="sr-only" aria-hidden="true">Next</span>
                        </a>
                    </li>
                </ul>
                <a href="" class="close" data-closealltabs><span class="sr-only">Sluiten</span></a>
            </div>
        </form>
    </div>
</div>